body {
	background-color: #E8E2D6;
	font-family: Arial;
}

.mainHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #BFD4BF;
	border-radius: 10px;
	width: 90% !important;
	min-height: 200px !important;
	animation-name: headerAnimation;
	animation-duration: 3s;
}
.secondaryHeader {
	background-color: #BFD4BF;
	padding: 20px;
	border-radius: 10px;
	animation-name: headerAnimation;
	animation-duration: 3s;
}

p {
	padding-left: 50px;
	padding-right: 50px;
}

@keyframes headerAnimation {
	from {background-color:#E8E2D6;}
	to {background-color: #BFD4BF;}
}
